body{
    margin: 0;
    text-align: justify;
}

#menu{
    background-color: black;
    color: white;
    padding: 15px;
    margin-top: 20px; 
}

h1{
    border-radius: 0px 0px 40px 0px;
    margin: 0% 60% 0% 0%;
    background-color: darkgreen;
    color: aliceblue;
    padding: 10px 0px 10px 3%;
}

h2{
    margin: 1% 0% 2% 6%;
}

#szoveg{
    margin: 0% 8% 2% 10%;
}

#tombok{
    margin: 0% 8% 8% 10%;

}

.tomb{

}

.tombkep{
    height: 50%;
    width: 50%;
    clear: right;
    float: right;
    margin: 2%;
    border: 5px double gray;
}

.tombkep:hover{
   transform: scale(200%,200%);
   transition-duration: 3s;
   transform-origin: top right;
}